body{
	margin:0;
	padding:0;
	-webkit-user-select: none;
	user-select:none;

    font-family:'Helvetica';
}
a {
	outline:none;
    text-decoration:none;
    color:#333;
}
a:hover {
    color:#3f7fef;
}
.b-wid {
    background:#fff;
    font-size:14px;
    width:100%;
    color:#333;
    position:relative;

    /*positioning*/
    margin:0 auto;
	max-width:331px;
    min-width:331px;
}
.b-wid__none {
    display: none;
}
.g-btn {
    line-height:25px;
    font-size:13px;
    font-family:'Arial';
    display:-moz-inline-stack;
    display:inline-block;
    zoom:1;
    *display:inline;
    font-weight:bold;
    text-shadow:0 1px 0 #fff;
    padding:0 14px;
    border:1px solid #b2b2b2;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    -webkit-box-shadow:0 1px 4px 0 rgba(0,0,0,.2);
    -moz-box-shadow:0 1px 4px 0 rgba(0,0,0,.2);
    box-shadow:0 1px 4px 0 rgba(0,0,0,.2);    
    background-color:#fafafb;
    background-image:-moz-linear-gradient(top, #fafafb, #e8e8e9);
    background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#fafafb), to(#e8e8e9));
    background-image:-webkit-linear-gradient(top, #fafafb, #e8e8e9);
    background-image:-o-linear-gradient(top, #fafafb, #e8e8e9);
    background-image:linear-gradient(to bottom, #fafafb, #e8e8e9);
    background-repeat:repeat-x;
    filter:progid:dximagetransform.microsoft.gradient(startColorstr='#fffafafb', endColorstr='#ffe8e8e9', GradientType=0);
}
.g-icn {
    display:block;
    width:17px;
    height:15px;
    background:url("icns.png") no-repeat;
}/*---mod---*/
            .g-icn_write {
                background-position:0 0;
                cursor:pointer;
                position:absolute;
                top:22px;
                right:23px;
            }
            .g-icn_write:hover {
                background-position:0 -15px;
            }
            .g-icn_write:active {
                top:23px;
            }
    .b-wid__header {
        padding:0 0 0 17px;
        background:url("bg.png");
        height:59px;
        line-height:59px;
        position:relative;
    }
        .b-wid__header_after {
            content:'';
            width:100%;
            background:url("shad.png") no-repeat 50% 0;
            height:3px;
            position:absolute;
            top:59px;
            left:0;
            z-index:1;
			opacity:0;
			transition:opacity .3s ease-in-out;
			-webkit-transition:opacity .3s ease-in-out;
        }
        .b-wid__title {
            line-height:59px;
            margin:0;
            font-size:19px;
            font-weight:bold;
            position:relative;
        }
        .b-wid__title:active {
            top:1px;
        }

    .b-wid__list {
        overflow:hidden;
        position:relative;
        width:100%;
        height: 334px;
        outline:none;
    }
        .b-wid__ul {
            margin:0;
            padding:0;
            list-style:none;
        }
            .b-wid__li {
                height:68px;
                padding:0 0 0 16px;
                border-top:1px solid #e8ebef;
                overflow:hidden;
                cursor:pointer;
                position:relative;
            }
            .b-wid__mailbox {
                background: #f7f7f7;
            }
                .b-wid__mailbox .b-letter-name {
                    font-size: 15px;
                    font-weight: bold;
                    margin-top: 25px;
                }
                .b-wid__li:hover {
                    background:#f1f5f9;
                }
                .b-letter-name {
                    margin:16px 0 2px 0;
                    font-size:15px;
                    font-weight:normal;
                }
                .b-letter-subj {
                    color:#999;
                }
                .b-letter-time {
                    font-size:10px;
                    color:#ccc;
                    position:absolute;
                    top:20px;
                    right:26px;
                }
                    .b-wid__li_rated .b-letter-time:after {
                        content:'';
                        display:block;
                        width:15px;
                        height:13px;
                        background:url("icns.png") no-repeat 0 -30px;
                        position:absolute;
                        top:17px;
                        right:0;
                    }
                    
            .b-wid__li_unread {
                -webkit-box-shadow:5px 0 0 -1px #3f7fef inset;
                -moz-box-shadow:5px 0 0 -1px #3f7fef inset;
                box-shadow:5px 0 0 -1px #3f7fef inset;                
            }
            .b-wid__li_atachment{
                padding:0 16px 0 0;
                background:url("icns.png") no-repeat 100%; 
                background-position: 0 -68px;
                width: 16px;
                height: 16px;
                display: inline-block;
                position: absolute;
            }
            .b-wid__li_unread .b-letter-name {
                font-weight:bold;
            }

.b-wid__scroll {
    position:absolute;
    margin:11px 11px 11px;
    width:5px;
    height:100%;
    right:0;
    top:0;
}
    .b-wid__scroll-slider {
        position:absolute;
        width:100%;
        height:30%;
        background:rgba(0,0,0, .1);
    }

.b-wid_error:after,
.b-wid_loader:after {
    content:'';
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background:rgba(255,255,255,.9);
    z-index:2;
}
    .b-wid_loader:after {
        background:url("loader.gif") no-repeat 50% 50% rgba(255,255,255,.9);
    }
    .b-wid-error {
        display:none;
        position: absolute;
        z-index: 10;
        width: 100%;
        text-align: center;
        line-height: 22px;
        top: 50%;
        margin-top: -67px;
    }
        .b-wid-error .g-btn {
            margin:10px 0 0 0;
        }
    .b-wid_error .b-wid-error {
        display:block;
    }
	
.b-mailbox-empty {
    position:relative;
    text-align:center;
    margin:90px 0 144px;
}
    .b-mailbox-empty__icn {
        width:65px;
        height:67px;
        margin:0 auto 20px;
        display:block;
        background:url("icns.png") no-repeat 0 -82px;
    }
    .b-mailbox-empty__txt {
        font-size:17px;
        font-weight:bold;
        color:#dfdede;
    }
.options {
    padding: 20px;
}